In [1]:
import pandas as pd
import numpy as np
import FIRM.base.operators.implications as implications
import FIRM.base.operators.tnorms as tnorms
import FIRM.base.fuzzy_data as fuzzy_data
from FIRM.methods.AARFI import AARFI

In [2]:
name_dataset = 'name'
dataset = pd.read_csv('../assets/pay_gap.csv')
dataset

,JobTitle,Gender,Age,PerfEval,Education,Dept,Seniority,BasePay,Bonus
0,Graphic Designer,Female,18,5,College,Operations,2,42363,9938
1,Software Engineer,Male,21,5,College,Management,5,108476,11128
2,Warehouse Associate,Female,19,4,PhD,Administration,5,90208,9268
3,Software Engineer,Male,20,5,Masters,Sales,4,108080,10154
4,Graphic Designer,Male,26,5,Masters,Engineering,5,99464,9319
...,...,...,...,...,...,...,...,...,...
995,Marketing Associate,Female,61,1,High School,Administration,1,62644,3270
996,Data Scientist,Male,57,1,Masters,Sales,2,108977,3567
997,Financial Analyst,Male,48,1,High School,Operations,1,92347,2724
998,Financial Analyst,Male,65,2,High School,Administration,1,97376,2225
999,Financial Analyst,Male,60,1,PhD,Sales,2,123108,2244

In [3]:
fuzzy_dataset = fuzzy_data.FuzzyDataQuantiles(name_dataset,dataset, 3, ['L', 'M', 'H'])

In [4]:
I = implications.ImplicationsExamples.get_fuzzy_implication(implications.ImplicationsExamples.GODEL)
T = tnorms.TnormsExamples.get_tnorm(tnorms.TnormsExamples.PRODUCT)

rules = AARFI(dataset, fuzzy_dataset, T, I, min_cov=0.1, min_supp=0.1, min_conf=0.5, max_feat=3)
measures = rules.measures(fuzzy_dataset)

# Extract measures
num_rules = len(measures['num_features'])
fcoverage = np.mean(measures['fcoverage'])
fsupport = np.mean(measures['fsupport'])
fconfidence = np.mean(measures['fconfidence'])
fwracc = np.mean(measures['fwracc'])

print('num rules: ' + str(len(measures['num_features'])))
print('fcoverage: ' + str(np.mean(measures['fcoverage'])))
print('fsupport: ' + str(np.mean(measures['fsupport'])))
print('fconfidence: ' + str(np.mean(measures['fconfidence'])))
print('fwracc: ' + str(np.mean(measures['fwracc'])))

for rule in rules.rule_list:
    print(rule.sentence_rule(fuzzy_dataset))

num rules: 2
fcoverage: 0.11349999999999999
fsupport: 0.10400000000000001
fconfidence: 0.9166925828020526
fwracc: 0.047394000000000006
IF ( JobTitle IS Marketing Associate ) THEN Gender IS Female
IF ( JobTitle IS Software Engineer ) THEN Gender IS Male

In [5]:
from FIRM.methods.SDFIOE import SDFIOE  
set_rules,rule_list = SDFIOE(dataset, fuzzy_dataset,1, T, I,K=10, max_features=5, min_support=0.001)

  0% (00/164 rules considered)|           |Elapsed Time: 0:00:00~ETA:  --:--:--

FAIL

In [6]:
rule_list

[0, 0, 0, 0, -1]